
                       h1
                        {

                            color:rgba(69, 0, 0, 0.822);
                            font-family:Arial;
                        }

                        html 
                        {
                            background-color:beige;
                        }
                    
                    